.site-header p{
  color: white;
  }/* Try different box model properties below */

.message__author{
  margin-bottom: 0;
}

.message__content{
  margin-top: 0;
}

.site-footer{
  font-size: 12px;
  text-align: center;
  box-shadow: 4px 4px 0 #dba944;
}
